/*----------------------
     Helper Classes
----------------------*/
.c-fl {
  float: left;
}
.c-fr {
  float: right;
}
.hide {
  display: none;
}

/* clearfix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.tac {
  text-align: center;
}